<% if !browser.modern? %>
  <%= stylesheet_link_tag "outdated_browser/outdated_browser_index" %>
  <%= javascript_include_tag "outdated_browser/modernizr-1.6.min" %>
  <div id="body-wrap">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div id="main">
          <ul class="wrap" id="browserlist">
            <li id="chrome">
              <a title="Google Chrome" href="http://www.google.com/chrome" target="_blank">
                <div class="icon"></div>
                <h2><%= I18n.t(:chrome, scope: [:outdated_browser, :browsers]) %></h2>
                <p class="info">“Um rápido e novo navegador do Google. Experimente&nbsp;agora!”</p>
                <p class="website">Visite o site para mais informações</p>
              </a>
            </li><!-- #chrome -->
            <li id="firefox">
              <a title="Mozilla Firefox" href="http://www.firefox.com/" target="_blank">
                <div class="icon"></div>
                <h2><%= I18n.t(:firefox, scope: [:outdated_browser, :browsers]) %></h2>
                <p class="info">“Sua segurança online é a principal prioridade do Firefox. O Firefox é gratuito e feito para ajudá-lo a tirar o máximo proveito da&nbsp;web.”</p>
                <p class="website">Visite o site para mais informações</p>
              </a>
            </li><!-- #firefox -->
            <li id="ie">
              <a title="Microsoft Internet Explorer" href="http://windows.microsoft.com/ie" target="_blank">
                <div class="icon"></div>
                <h2><%= I18n.t(:ie, scope: [:outdated_browser, :browsers]) %></h2>
                <p class="info">“Projetado para ajudá-lo a assumir o controle de sua privacidade e navegar com confiança. Gratuito da Microsoft.”</p>
                <p class="website">Visite o site para mais informações</p>
              </a>
            </li><!-- #ie -->
          </ul><!-- #browserlist -->
        </div><!-- #main -->
      </div>
    </div>
  </div><!-- #body-wrap -->
<% else %>
  <div>
    <div class="alert alert-success fade in">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>o seu navegar já esta atualizado.</strong>
    </div>
  </div>
  <script type="text/javascript">
    (function(){
      window.location.href = "<%= session[:my_previous_url] %>"
    })();
  </script>
<% end %>
