<% if !browser.modern? %>
  <%= stylesheet_link_tag "outdated_browser/outdated_browser_index" %>
  <%= javascript_include_tag "outdated_browser/modernizr-1.6.min" %>
  <div id="body-wrap">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div id="main">
          <ul class="wrap" id="browserlist">
            <li id="chrome">
              <a title="Google Chrome" href="<%= I18n.t(:url, scope: [:outdated_browser, :browsers, :chrome]) %>" target="_blank">
                <div class="icon"></div>
                <h2><%= I18n.t(:name, scope: [:outdated_browser, :browsers, :chrome]) %></h2>
                <p class="info"><%= I18n.t(:info, scope: [:outdated_browser, :browsers, :chrome]) %></p>
                <p class="website"><%= I18n.t(:info_website, scope: [:outdated_browser, :browsers, :chrome]) %></p>
              </a>
            </li><!-- #chrome -->
            <li id="firefox">
              <a title="Mozilla Firefox" href="<%= I18n.t(:url, scope: [:outdated_browser, :browsers, :firefox]) %>" target="_blank">
                <div class="icon"></div>
                <h2><%= I18n.t(:name, scope: [:outdated_browser, :browsers, :firefox]) %></h2>
                <p class="info"><%= I18n.t(:info, scope: [:outdated_browser, :browsers, :firefox]) %></p>
                <p class="website"><%= I18n.t(:info_website, scope: [:outdated_browser, :browsers, :firefox]) %></p>
              </a>
            </li><!-- #firefox -->
            <li id="ie">
              <a title="Microsoft Internet Explorer" href="<%= I18n.t(:url, scope: [:outdated_browser, :browsers, :ie]) %>" target="_blank">
                <div class="icon"></div>
                <h2><%= I18n.t(:name, scope: [:outdated_browser, :browsers, :ie]) %></h2>
                <p class="info"><%= I18n.t(:info, scope: [:outdated_browser, :browsers, :ie]) %></p>
                <p class="website"><%= I18n.t(:info_website, scope: [:outdated_browser, :browsers, :ie]) %></p>
              </a>
            </li><!-- #ie -->
          </ul><!-- #browserlist -->
        </div><!-- #main -->
      </div>
    </div>
  </div><!-- #body-wrap -->
<% else %>
  <div>
    <div class="alert alert-success fade in">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong><%= I18n.t(:browser_is_up_to_date) %></strong>
    </div>
  </div>
  <script type="text/javascript">
    (function(){
      window.location.href = "<%= session[:my_previous_url] %>"
    })();
  </script>
<% end %>
