<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title><%= I18n.t(:application_name) %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">

        <meta http-equiv="x-pjax-version" content="v173">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- fav and touch icons -->
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <%= javascript_include_tag 'html5shiv/html5shiv.min' %>
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target=".navbar" class="animated fadeIn">
        <!-- section header -->
        <%= render "layouts/partials/header" %>

        <section class="section">
          <div class="content">
            <%= render partial: "outdated_browser/outdated_browser" %>
            <%= yield %>
          </div> 
        </section><!--/content section -->
        <!-- content section -->

        <!-- section footer -->
        <%= render "layouts/partials/footer" %>
    </body>
</html>